doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Football Score Live
  link(rel='stylesheet' href='../static/css/style.css')
  link(rel='stylesheet' href='../static/css/admin.css')
body
  if(admin)
        form(action="/iamadmin/setscore",method="post")
            label(for="team1") Team 1
            input(type="text",name="team1", id="team1",value="England")  
            input(type="number",name="team1Score", id="team1Score",value="0", style="width: 50px")  
            label(for="team1") Team 2 
            input(type="text",name="team2", id="team2",value="Italy")  
            input(type="number",name="team2Score", id="team2Score",value="1", style="width: 50px")  
            button(type="submit",id="btnTeams") Change

        form(action="/iamadmin/settime",method="post")
            label(for="minutes") Minutes
            input(type="number",name="minutes", id="minutes",value="0", style="width: 100px")  
            label(for="seconds") Seconds
            input(type="number",name="seconds", id="seconds",value="0", style="width: 100px")  
            label(for="matchStarted") Match Started
            input(type="number",name="matchStarted", id="matchStarted",value="0", style="width: 100px")  
            //- label(for="matchRunning") Match Running
            //- input(type="number",name="matchRunning", id="matchRunning",value="0", style="width: 100px")  
            label(for="secondHalf") Second Half
            input(type="number",name="secondHalf", id="secondHalf",value="0", style="width: 100px")  
            button(type="submit",id="btnTime") Change
        form#teamPlayers(action="/iamadmin/setplayers", method="post")
            div.container.teamPlayers
                label(for="team1Players") Team 1 Players
                textarea( cols="30", rows="10",name="team1Players", id="team1Players")  
            div.container.teamPlayers    
                label(for="team2Players") Team 2 Players
                textarea( cols="30", rows="10",name="team2Players", id="team2Players") 
            div.container.teamPlayers  
                button(type="submit",id="btnPlayers") Change
        form(id="frmUploader" enctype="multipart/form-data" action="/upload" method="post")
            <input type="file" name="imgUploader" />
            <input type="submit" name="submit" id="btnImage" value="Upload" />
script(src='../static/js/admin.js')