doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Football Score Live
  link(rel='stylesheet' href='../static/css/style.css')
body 
    #banner
        .container
            .teamLogo
                img(src='../static/img/' +team1Logo + '.svg', alt='', srcset='',id="team1Logo")
            #score.score.scoreBoard
            .teamLogo
                img(src='../static/img/' +team2Logo + '.svg',alt='' srcset='',id="team2Logo")
        #timer.time.scoreBoard
    .container.teams
        .team1
            ul#team1Players 
                //- each player in team1Players 
                //-     li= player
        .team2
            ul#team2Players 
                //- each player2  in team2Players 
                //-     li=player2
    //- if(!isMatch)
    //-     .container.red There is Currently no match...
    .anim
        img(src='../static/img/player-anim.png' alt='' srcset='')
    //- .container.footer 
    //-     p= news
script(src='../static/js/index.js')
