doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Football Score Live
  link(rel='stylesheet' href='../static/css/style.css')
body 
    #banner
        .container
            .teamLogo
                img(src='../static/img/england.svg' alt='' srcset='')
            .score.scoreBoard England 0 - 0 Italy
            .teamLogo
                img(src='../static/img/italy.svg' alt='' srcset='')
        #timer.time.scoreBoard
    .anim
        img(src='../static/img/player-anim.png' alt='' srcset='')
script(src='../static/js/index.js')
