doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Football Score Live
  link(rel='stylesheet' href='../static/css/style.css')
body 
    #banner
        .container
            .teamLogo
                img(src='../static/img/england.svg' alt='' srcset='')
            #score.score.scoreBoard
            .teamLogo
                img(src='../static/img/italy.svg' alt='' srcset='')
        #timer.time.scoreBoard
    .anim
        img(src='../static/img/player-anim.png' alt='' srcset='')
    if(admin)
        form(action="/iamadmin", method="post")
            label(for="team1") Team 1 Name And Score 
            input(type="text",name="team1", id="team1",value="England 0")  
            label(for="team1") Team 2 Name And Score 
            input(type="text",name="team2", id="team2",value="1 Italy")  
            button(type="submit") Change      
script(src='../static/js/index.js')
