/* CSS FOR ADMIN PAGE ONLY */
body {
  height: auto;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  background: #00000082;
}
form input {
  margin: 0 5px;
  padding: 2px 5px;
}
#teamPlayers {
  height: 500px;
}
#teamPlayers textarea {
  height: 400px;
  font-size: 1.2em;
  font-weight: bold;
}
#teamPlayers button {
  margin-left: 10px;
  padding: 5px 20px;
}
.teamPlayers {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
