* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100%;
  z-index: -1;
  background: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255 255 255 / 77%);
  width: 100%;
  height: 45px;
  margin-top: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255 255 255 / 75%);
  padding: 6px;
}
.scoreBoard {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 10px;
}
.teamLogo {
  width: 30px;
  height: 32px;
}
.teamLogo img {
  width: inherit;
  height: inherit;
}

#timer {
  margin: 0;
  padding: 7px 16px;
  background: rgb(0 0 0 / 55%);
  color: white;
  font-size: 1.5rem;
}
.anim {
  position: absolute;
  height: 150px;
  animation: mymove 9s infinite;
}
.anim img {
  height: inherit;
}

@keyframes mymove {
  0% {
    left: 50px;
    bottom: 10px;
  }
  50% {
    left: 250px;
    bottom: 60px;
    height: 200px;
  }
  100% {
    left: 50px;
    bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .scoreBoard {
    font-size: 1rem;
  }
  #timer {
    font: 1rem;
  }
  .anim {
    position: absolute;
    height: 100px;
    animation: mymove 9s infinite;
  }
  @keyframes mymove {
    0% {
      left: 0px;
      bottom: 30px;
    }
    50% {
      left: 70px;
      bottom: 80px;
      height: 110px;
    }
    100% {
      left: 0px;
      bottom: 30px;
    }
  }
  body {
    background-color: lightgreen;
  }
}

/* @media only screen and (max-height: 600px) {
  .scoreBoard {
    font-size: 1.5rem;
  }
  #timer {
    font-size: 1.5rem;
  }
  .anim {
    position: absolute;
    height: 200px;
    animation: mymove 9s infinite;
  }
  @keyframes mymove {
    0% {
      left: 40px;
      bottom: 10px;
    }
    50% {
      left: 150px;
      bottom: 60px;
      height: 150px;
    }
    100% {
      left: 40px;
      bottom: 10px;
    }
  }
} */
.red {
  background-color: rgb(248, 229, 229);
  font-size: 1.2em;
}
/* PLAYERS CSS */
.teams {
  justify-self: center;
  align-self: center;
  background-color: rgb(255 255 255 / 86%);
  padding: 65px 40px;
  font-size: 2em;
  font-weight: bold;
  column-gap: 100px;
  margin-top: 8px;
  width: 100%;
  /* display: none; */
}
.teams li {
  list-style: none;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 5px;
  font-size: 1.3em;
  font-weight: bold;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.788);
}
.footer p {
  position: relative;

  animation: textSlide 20s infinite linear;
}
@keyframes textSlide {
  0% {
    right: -200px;
  }
  100% {
    right: 1600px;
  }
}
